.navigation {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #641B86;
  background: #8A1BBE;
  box-shadow: 0 0 10px #8A1BBE, 0 0 30px #8A1BBE, 0 0 60px #8A1BBE;

  .link-wrapper {
    position: relative;
    background-color: #03bcf4;
    padding: 3px 3px;
  }

  &__link {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 10px #ff005b;
    z-index: 10;
    &:hover {
      animation: blink 1s linear infinite;
    }
  }
}

@keyframes blink {  
	0% {
    text-shadow: none;
  }
	100% {
    text-shadow: 0 0 10px #ff005b;
  } 
}
